* {
    margin: 0;
    padding: 0;
}

body {
    background: #BA5370;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F4E2D8, #BA5370);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Ope
*/}

.fichier{
    background-image: url('http://source.unsplash.com/random/150x150');
position: relative;
height: 150px;
width: 150px;
top: 5px;
left: 5px;
cursor: pointer;
}

.vide{
    display: inline-block;
    height: 160px;
    width: 160px;
    margin: 10px;
    border: solid 1px black;
    background-color: white;
}

.garder{
    border: solid deeppink 4px;
}
.hovered{
    background: #f4f4f4;
    border-style: dashed;
}
.invisible{
    display: none;
}